
body {
    margin: 0;
    padding: 0;
    background-color: #070707;
    transition: 0.6s;
}

p {
    color: #FFF;
}

h1, h2, h3, h4 {
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
}

/* Навигация */
.navbar {
    width: 100%;
    height: 52px;
}

.navbar-container {
    display: flex;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    background: none;
}


.navbar-ul {
    list-style-type: none; /* Убираем точки */
    padding-left: 0;
    margin-bottom: 0;

}

.navbar-li {
    display: inline-block;
}

.navbar-li a {
    display: inline-block;
    color: #C6C6C6;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    opacity: 0.9;
    padding: 13px;
    position: relative;
    text-decoration: none;
}

.navbar-li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #F25900;
    transition: width 0.3s;
}

.navbar-li a:hover:after {
    width: 100%;
}

.navbar-li a:hover {
    color: white;
}

.navbar-li a:active {
    color: white;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.logo {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.14px;
    margin-left: 18px;
    z-index: 4;
}

.navbar-logo {
    z-index: 4;
}

.navbar-menu {
    margin-top: 8px;
    z-index: 4;
}

.modal {
    width: 255px;
    height: 255px;
    background: #222;
    margin-left: 47px;
    margin-top: 0px;
    border-radius: 0px 0px 30px 30px;
    z-index: 3;
    padding-right: 26px;
    padding-left: 26px;
    padding-top: 70px;
    transition: opacity 0.3s ease; /* Плавный переход для свойства opacity */
}

.modal_content_button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_menu {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal_content_img_dark {
    width: 30px
}

.modal_content_text {
    margin-top: 12px;
    margin-left: 12px;
}

.block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-logo-and-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: -67px;

}

.block-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

/* Главное */
.fon {
    position: absolute;
    width: 100%;
    height: 546px;
    z-index: -1;
    top: 0;
    object-fit: cover;
}

/*.dark_fon {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 546px;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*    object-fit: cover;*/
/*    !*background-size: cover;*!*/
/*    !*background-image: url('../image/genres/horror.png');*!*/
/*}*/

/*.bel_fon {*/
/*    display: none;*/
/*}*/

.button-slider {
    margin-top: 57px;
    display: flex;
}

.block-slider {
    margin-top: -209px;
    margin-left: 79px;
}

.slider {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 253px;
}

.slider-block-text-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
}

.slider-p {
    color: #FFFF;
    width: 512px;
    height: 72px;
    text-align: center;
}

.redeng {
    display: flex;
    border: none;
    border-radius: 30px;
    background: #F25900;
    color: white;
    width: 162px;
    height: 40px;
    transition: transform .2s;
    align-items: center;
    justify-content: center;
}

.redeng:hover {
    transform: scale(1.1);
}

.books {
    display: inline-block;
    border: none;
    border-radius: 30px;
    color: white;
    width: 114px;
    height: 40px;
    background: #222;
}

.books:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.b {
    margin-left: -6px;
    padding-right: 7px;
}

.r-1 {
    text-decoration: none;
    color: #FFF;
    padding-right: 8px;
}

.button-slider a {
    text-decoration: none;
    color: #FFF;
    padding-right: 8px;
}

/* Фоотер */

.footer-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer-hr {
    color: white;
}

.footer-li {
    display: inline-block;
    margin-top: -9px;
}

.footer-li a {
    display: inline-block;
    color: #C6C6C6;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
    opacity: 0.9;
    padding: 13px;
    position: relative;
    text-decoration: none;
}

.footer-li a:hover {
    transition: width 1s ease-in-out;
    color: white;
}

.footer-h {
    color: #B8B7B7;
    font-size: 19px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.32px;
}

.footer-p {
    color: #B8B7B7;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.2px;
}

.f {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

/* Главное */
.content-container {
    margin: 0 auto;
    width: 585px;
    padding: 20px;
}

.label {
    font-weight: bold;
    color: white;
}

/* Книги */

.container-books {
    margin: 0 auto;
    width: 1333px;
    padding-left: 20px;
    padding-right: 20px;
}

.zag {
    display: flex;
    align-items: center;
}

.books-strelka {
    margin-left: 15px;
    display: none;
    transition: transform 0.5s;
    width: 18px;
}

.opisanie {
    padding: 12px;
    width: 221px;
    height: 337px;
    border-radius: 0px 0px 30px 30px;
    display: inline-block;
    transition: transform 0.5s;
}

.opisanie:hover {
    transform: scale(1.1);
}

.opisanie-p {
    color: #ffff;
    font-size: 17px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: -0.84px;
    margin-bottom: 8px;
    margin-left: -10px;
    margin-top: 9px;
}

.opisanie-author {
    color: #F25900;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-left: -10px;
}

.books-img {
    width: 193px;
    height: 244px;
    margin-left: -12px;
    margin-top: -12px;
    object-fit: cover;
    border-radius: 6px;
}

.books_disp {
    padding-right: 37px;
    margin-top: 20px;
}

.brt {
    padding-top: 20px;
}

.brt:hover .books-strelka {
    display: block;
}

/* Контакты */
.contact-container {
    margin: 0 auto;
    width: 585px;
    padding: 20px;
}

/* Книга */
.glav-books-container {
    margin: 0 auto;
    width: 1333px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
}

.block-books-raspol {
    display: flex;
    align-items: flex-start;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 28px;
    flex-wrap: nowrap;
}

.books-wrap-display-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.books-img-1 {
    width: 193px;
    height: 273px;
    object-fit: cover;
    margin-top: 9px;
    border-radius: 7px;
}

.books-wrap-content-text {
    margin-left: 33px;
}

.title {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.08px;
}

.author {
    color: #9C9B9B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.books-podrob {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.books-opisanie {
    width: 936px;
    min-height: 170px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.books-reding-content-wrap {
    margin: 0 auto;
    width: 1088px;
    padding-left: 18px;
    padding-right: 12px;
    padding-bottom: 20px;
}

.books-reding-content {
    width: 1021px;
    height: auto;
    background: #ffffff;
    border-radius: 30px 0px 30px 30px;
}

.books-reding-content-container-p {
    padding: 30px;
}

.books-reding {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 168.222%; /* 30.28px */
    letter-spacing: -1.08px;
}

.a-favorite-icon {
    transition: transform 0.5s;
}

.a-favorite-icon:hover {
    transform: scale(1.1);
}

/* Выбор тем изминение размера */
.books_reading_and_change {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1039px;
}

.block_change_text_size {
    width: 256px;
    height: 55px;
    background: white;
    border-radius: 30px 30px 0px 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
}

.container_books_and_change {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_change_text_size_ul {
    display: flex;
}

.block_change_text_size_li {
    list-style-type: none;
    color: black;
    margin-right: 25px;
    font-size: 19px;
}


.block_change_text_size_ul_2 {
    display: flex;
    margin-left: -21px;
    margin-top: -6px;
}

.block_change_text_size_plus_min {
    list-style-type: none;
    color: black;
    margin-right: 29px;
    font-size: 25px;
}

/* Категории */
.category-container-glav {
    margin: 0 auto;
    width: 1333px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.category-block {
    display: flex;
    align-items: center;
    width: 765px;
    height: 102px;
    background: #F25900;
    border-radius: 0px 30px 30px 0px;
    /*transition: transform .2s;*/
    margin-bottom: 30px;
    margin-top: 20px;
    transition: transform 1s;
}

.category-block:hover {
    width: 790px;
    transform: scale(1.1);
}

.category-text {
    margin-left: 22px;
    margin-top: 16px;
}

.category-text-1 {
    margin-top: 16px;
    margin-left: 25px;
    font-size: 19px;
    position: absolute;
}

.image-category-block {
    width: 628px;
    height: 102px;
    object-fit: cover;
}

/* Личный кабинет */
.img-user-1 {
    width: 215px;
    padding-right: 20px;
}

.container-user {
    display: flex;
    padding-top: 56px;
}

.container-user-glav {
    margin: 0 auto;
    width: 995px;
    padding-left: 20px;
    padding-right: 20px;
}

.created_at-user {
    color: #ABA6A6;
    margin-top: 15px;
}

.user-p {
    font-size: 19px;
}

.proposal-text-h {
    font-size: 20px;
    color: black;
}

.proposal-text-p {
    color: black;
}

.img-proposal {
    width: 346px;
}

.navbar-kabinet a {
    display: inline-block;
    color: #C6C6C6;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px;
    text-decoration: none;
}

.kab-ul {
    list-style-type: none;
    margin-left: -43px;
}

.navbar-kabinet a:hover {
    color: white;
}

/* Пагинация */
.wer .pagination a,
.wer .pagination .active {
    background-color: #F25900; /* Цвет фона для активных элементов и обычных ссылок */
    color: #fff; /* Цвет текста */
}

.wer .pagination .disabled {
    color: #888; /* Цвет текста для неактивных элементов (если есть) */
}

.active > .page-link {
 border-color: white;
}

.wer .pagination a:focus,
.wer .pagination .active:focus {
    outline: none !important; /* Убираем контур при фокусировке */
    box-shadow: none !important; /* Убираем тень при фокусировке */
}

/* О книге */
.o-books-h5 {
    color: #F25900;
}

/* Админка */
aside {
    float: left;
    /*margin-left: -89px;*/
    margin-top: -74px;
    background: #181818;
    width: 22%;
    padding: 2.5%;
    height: 153vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 70px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: -2px;
    font-weight: bold;
    position: relative;
    top: 39px
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

/* Лейблы */
.label_my {
    color: white;
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    font-size: inherit;
    line-height: 1.5;
    margin-bottom: 6px;
}

.input_my:focus {
    outline: none;
    box-shadow: none;
}

.my-input-class {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.my-input-class:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

/* Поиск */
.my-input-search {
    width: 243%;
    height: 37px;
    margin-top: 10px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.my-input-search:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

/* кнопка закрытия */
.button-zak {
    border: none;
    background: none;
}

#searchButton {
    border: none;
    background: none;
}

/* изображение поиска */
.search {
    width: 21px ;
}


/* Слайдер */
.books-reading-content-wrap {
    height: 800px;
    overflow: hidden;
    position: relative;
}

.books-reading-slider {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.books-reading-inner {
    display: flex;
    flex-direction: column;
}

.books-reading {
    margin: 0;
    padding: 10px;
}

.books-reading-slider::-webkit-scrollbar {
    width: 5px;
}

.books-reading-slider::-webkit-scrollbar-thumb {
    background-color: #888;
}















